
/* * {
    background-color: #F5E8E4;
} */

/* .body {
    background-color: #F5E8E4;
} */

.main-page {
    
    /* height: 100%; */
    margin-top: 60px;
    /* padding-bottom:   ; */
}


.navbar {
    /* margin-bottom: 87px; */
    background-color: black;
}


body {
    background-color:  #EEEEEE;
}